.login {
    width: 35%;
    height: 50%;
    margin: 10% auto;
}

div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

div.tab button {
    background-color: inherit;
    float: right;
    width: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-family: bYekan;
}

div.tab button:hover {
    background-color: #ddd;
}

div.tab button.active {
    background-color: whitesmoke;
    border-bottom: none;
}

button.google-plus {
    background-color: #ff3a41;
    border: none;
    color: white;
    float: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
    margin: 4px 80px;
    cursor: pointer;
}

.tabcontent {
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    margin: auto;
}

label {
    float: right;
    width: 30%;
    text-align: right;
    margin-right: 0.5em;
    font-size: 13px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}

input[type=submit] {
    background-color: #009760;
    border: none;
    color: white;
    margin-right: 120px;
    padding-left: 40px;
    padding-right: 40px;
}