.below-carousel ul {
    list-style-type: none;
    margin-right: 23%;
    padding: 0;
    text-align: center;
    overflow: hidden;
}

.below-carousel li a {
    text-decoration: none;
    color: #808080;
}

.below-carousel li {
    float: right;
    display: block;
    color: #808080;
    text-align: center;
    text-decoration: none;
    margin-right: 2px;
}

.below-carousel li a:hover {
    background-color: #111;
}

.right-box {
    margin-left: 50px;
    font-size: 20px;
    width: 300px;
    text-align: center;
    border: solid 2px #4c4c4c;
    padding: 30px;
    float: right;
    border-radius: 5px;
    margin-right: 70px;
    margin-top: 0px;
}

.left-box {
    font-size: 23px;
    color: #8e8e8e;
    margin-top: 55px;
    margin-left: 150px;
}


.icons {
    overflow: hidden;
    margin-right: 90px;
    padding-top: 10px;
    clear: both;
}

.icons i {
    margin-right: 5px;
}
